src/.vs/src/v16/.suo
src/.vs/src/v16/Browse.VC.db
src/.vs/src/v16/Browse.VC.db-shm
src/.vs/src/v16/Browse.VC.db-wal
src/.vs/src/v16/Browse.VC.opendb
src/.vs/src/v16/ipch/AutoPCH/3c14b275dea27df3/KEYVALUE.ipch
src/.vs/src/v16/ipch/AutoPCH/4d9df69299f0c8d4/MAIN.ipch
src/.vs/src/v16/ipch/AutoPCH/a03ebccb6111443f/WINDOW_SETUP.ipch
src/.vs/src/v16/ipch/AutoPCH/adec916bb23fa93b/WINDOW_SETUP.ipch
